<div class="tabItem__headerText">
    <h2>Избранное</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>

<ul class="reserve__ul">

    <li class="reserve__li">

        <div class="reserve__block">

            <div class="reserve__img">
                <img src="img/lk__bron.png" alt="La perle Bronza">
            </div>

            <div class="reserve__content service__content">
                <div class="reserve__textHeader">

                    <h2>Abu Dhabi City Tour</h2>
                    <p>Excursion tour</p>

                </div>

                <div class="reserve__textMiddle">

                    <div class="textMiddle__blockLeft">
                        <img src="img/icon/lk__mark.png" alt="mark">
                        <span>DELTA, 48 Boulevard</span>
                    </div>
                   
                    <div class="textMiddle__blockCenter">
                        <img src="img/icon/lk__people.png" alt="people">
                        <span>3+ year</span>
                    </div>

                    <div class="textMiddle__blockRight">
                        <img src="img/icon/lk__time.png" alt="time">
                        <span>2,5 hours</span>
                    </div>

                </div>

                <div class="reserve__textLower">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conse</p>
                </div>
            </div>

            <div class="service__cencel">
                <div class="service__humb"></div>
            </div>

        </div>

    </li>


    <li class="reserve__li">

        <div class="reserve__block">

            <div class="reserve__img">
                <img src="img/lk__bron.png" alt="Стол в ресторане">
            </div>

            <div class="reserve__content service__content">
                <div class="reserve__textHeader">

                    <h2>Abu Dhabi City Tour</h2>
                    <p>Excursion Tour</p>

                </div>

                <div class="reserve__textMiddle">

                    <div class="textMiddle__blockLeft">
                        <img src="img/icon/lk__mark.png" alt="mark">
                        <span>DELTA, 48 Boulevard</span>
                    </div>
                
                      <div class="textMiddle__blockCenter">
                        <img src="img/icon/lk__people.png" alt="people">
                        <span>3+ year</span>
                    </div>

                    <div class="textMiddle__blockRight">
                        <img src="img/icon/lk__time.png" alt="time">
                        <span>2,5 hours</span>
                    </div>

                </div>

                <div class="reserve__textLower">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conse</p>
                </div>
            </div>

     <div class="service__cencel">
                <div class="service__humb"></div>
            </div>

        </div>

    </li>


    <li class="reserve__li">

        <div class="reserve__block">

            <div class="reserve__img">
                <img src="img/lk__bron.png" alt="Обед в пустыне">
            </div>

            <div class="reserve__content service__content">
                <div class="reserve__textHeader">

                    <h2>Abu Dhabi City Tour</h2>
                    <p>Excursion tour</p>

                </div>

                <div class="reserve__textMiddle">

                    <div class="textMiddle__blockLeft">
                        <img src="img/icon/lk__mark.png" alt="mark">
                        <span>DELTA, 48 Boulevard</span>
                    </div>

                    <div class="textMiddle__blockCenter">
                        <img src="img/icon/lk__people.png" alt="people">
                        <span>3+ year</span>
                    </div>

                    <div class="textMiddle__blockRight">
                        <img src="img/icon/lk__time.png" alt="time">
                        <span>2,5 hours</span>
                    </div>

                </div>

                <div class="reserve__textLower">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conse</p>
                </div>
            </div>

     <div class="service__cencel">
                <div class="service__humb"></div>
            </div>

        </div>

    </li>

</ul>