<div class="tabItem__headerText">
    <h2>Достижения и бонусы</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>



<div class="containerMap">
    <div class="tabItem__mapSelect">
        <div class="tabItem__mapSelect--1 tabItem__bonus--onclick anmBorder"><span>Достижения</span></div>
        <div class="tabItem__mapSelect--1 tabItem__bonus--onclick "><span>Промокоды</span></div>
    </div>
    <div class="tabItem__bonus">




        <div class="tabItem__promo">




            <div class="tabItem__bonusBlock tabItem__promo--m2 tabItem__promoBlock">


                <div class="bonusBlock__cup promoBlock__cup">

                    <img src="./img/icon/lk__promoCode.png" alt="promo code">

                </div>


                <div class="bonusBlock__promo">

                    <h3>Промокод</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                    <a class="bonusBlock__content--link promoBlock__content--link" href="#">Read more</a>

                </div>

                <div class="bonusBlock__code">
                    <div class="bonusBlock__code--text">
                        <p>jfkdn38n</p>
                    </div>
                </div>
            </div>





            <div class="tabItem__bonusBlock tabItem__promoBlock">


                <div class="bonusBlock__cup promoBlock__cup">

                    <img src="./img/icon/lk__promoCode.png" alt="promo code">

                </div>


                <div class="bonusBlock__promo">

                    <h3>Промокод</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                    <a class="bonusBlock__content--link promoBlock__content--link" href="#">Read more</a>

                </div>

                <div class="bonusBlock__code">
                    <div class="bonusBlock__code--text">
                        <p>jfkdn38n</p>
                    </div>
                </div>

            </div>


        </div>










        <div class="tabItem__bonusBlock">


            <div class="bonusBlock__cup">

                <span class="bonusBlock__cup--black"><span id="bonusBlock__cupOne" class="bonusBlock__cup--color"></span></span>

            </div>


            <div class="bonusBlock__content">

                <h3>Достижение</h3>
                <p>награда: промокод на скидку в 20% на сафари</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                <a class="bonusBlock__content--link" href="#">Read more</a>

            </div>

            <div id="bonusBlock-dataOne" class="bonusBlock__circle" data-value-one="6/6">
                <svg width="100" height="220">
                   <g class="circle--gray" fill="none" stroke-width="15">
                      <circle r="38" cx="53" cy="108"
                         stroke="#e9e9e9"
                         stroke-opacity=".5" />
                  </g>
                   <g class="tabItem__circle--basic" fill="none" stroke-width="15">
                      <circle r="38" cx="53" cy="108"
                         stroke="green"
                    />
                  </g>
                   <g id="circleAnimationOne" class="circle__green--anim--4" fill="none" stroke-width="15">
                      <circle r="38" cx="53" cy="108"
                         stroke="green"
                     />
                  </g>
                </svg>
            </div>
        </div>

        <div class="tabItem__bonusBlock">


            <div class="bonusBlock__cup">

                <span class="bonusBlock__cup--black"><span id="bonusBlock__cupTwo" class="bonusBlock__cup--color"></span></span>

            </div>


            <div class="bonusBlock__content">

                <h3>Достижение</h3>
                <p>Награда: промокод на скидку в 20% на сафари</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                <a class="bonusBlock__content--link" href="#">Read more</a>

            </div>

            <div id="bonusBlock-dataTwo" class="bonusBlock__circle" data-value-two="2/6">
                <svg width="100" height="220">
                   <g class="circle--gray" fill="none" stroke-width="15">
                      <circle r="38" cx="53" cy="108"
                         stroke="#e9e9e9"
                         stroke-opacity=".5" />
                  </g>
                   <g class="tabItem__circle--basic" fill="none" stroke-width="15">
                      <circle r="38" cx="53" cy="108"
                         stroke="green"
                    />
                  </g>
                   <g id="circleAnimationTwo" class="circle__green--anim--2" fill="none" stroke-width="15">
                      <circle r="38" cx="53" cy="108"
                         stroke="green"
                     />
                  </g>
                </svg>
            </div>
        </div>

        <div class="tabItem__bonus--link">
            <p>*** Подробнее о системе лояльности и бонусах вы можете прочесть <a href="#">тут</a> .</p>
        </div>
    </div>
</div>