@font-face {
    font-family: 'RobotoBold';
    src: url('assets/fonts/RobotoBold/Roboto-Bold.eot');
    src: url('assets/fonts/RobotoBold/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/RobotoBold/Roboto-Bold.woff') format('woff'), url('assets/fonts/RobotoBold/Roboto-Bold.ttf') format('truetype'), url('assets/fonts/RobotoBold/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'RobotoLight';
    src: url('assets/fonts/RobotoLight/Roboto-Light.eot');
    src: url('assets/fonts/RobotoLight/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('assets/fonts/RobotoLight/Roboto-Light.woff') format('woff'), url('assets/fonts/RobotoLight/Roboto-Light.ttf') format('truetype'), url('assets/fonts/RobotoLight/Roboto-Light.svg#Roboto-Light') format('svg');
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('assets/fonts/RobotoMedium/Roboto-Medium.eot');
    src: url('assets/fonts/RobotoMedium/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('assets/fonts/RobotoMedium/Roboto-Medium.woff') format('woff'), url('assets/fonts/RobotoMedium/Roboto-Medium.ttf') format('truetype'), url('assets/fonts/RobotoMedium/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('assets/fonts/RobotoRegular/Roboto-Regular.eot');
    src: url('assets/fonts/RobotoRegular/Roboto-Regular.eot#iefix') format('embedded-opentype'), url('assets/fonts/RobotoRegular/Roboto-Regular.woff') format('woff'), url('assets/fonts/RobotoRegular/Roboto-Regular.ttf') format('truetype'), url('assets/fonts/RobotoRegular/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
}