<span class="rating" style="background-image:url('./img/icon/star-gray.svg')">
    <span class="rating-{{ loop.index0 % 5 + 1 }}" style="background-image:url('./img/icon/star-gold.svg')"></span>
</span>