<div class="tabItem__headerText">
    <h2>Карта</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>



<div class="containerMap">
    <div class="tabItem__mapSelect">
    <span class="tabItem__mapSelect--leftArrow"></span>
    <span class="tabItem__mapSelect--rightArrow"></span>
        <div class="tabItem__mapSelect--1 tabItem__mapSelect--onclick anmBorder"><span>Все объекты</span></div>
        <div class="tabItem__mapSelect--2 tabItem__mapSelect--onclick"><span>Брони</span></div>
        <div class="tabItem__mapSelect--3 tabItem__mapSelect--onclick"><span>Избранное</span></div>
        <div class="tabItem__mapSelect--4 tabItem__mapSelect--onclick"><span>Резервации</span></div>
    </div>
    <div class="tabItem__map">
        <div id="map"></div>
    </div>
</div>