<div class="basic-slider">

    {% for i in 0..9 %}
        <div class="basic-slider__item"><span class="substrate"></span><img src="./img/basicslider/basic-item-{{ i + 1 }}.jpg" alt=""></div>
    {% endfor %}

</div>