{#
    Для вызова popup окна добавить на кнопку вызова attr data-scope="ajax.html #(id вызываемого окна)"
#}

<div id="signIn" class="popup" style="background: #fff url('./img/bg/bg-sign.png')no-repeat center">

    {% include '../components/popup/sign.in/index.twig' %}

</div>

<div id="signUp" class="popup" style="background: #fff url('./img/bg/bg-sign.png')no-repeat center">

    {% include '../components/popup/sign.up/index.twig' %}

</div>

<div id="notific-1" class="popup" style="background: #fff url('./img/bg/bg-notific-1.png')no-repeat center">

    {% include '../components/popup/notification-1/index.twig' %}

</div>

<div id="notific-2" class="popup" style="background: #fff url('./img/bg/bg-notific-2.png')no-repeat center">

    {% include '../components/popup/notification-2/index.twig' %}

</div>

<div id="video" class="popup">

    {% include '../components/popup/video/index.twig' %}

</div>

<div id="search" class="popup">

    {% include '../components/popup/search/index.twig' %}

</div>

<div id="basket" class="popup" style="background: #fff url('./img/bg/bg-basket.png')no-repeat left center">

    {% include '../components/basket/index.twig' %}

</div>
