 {% include '../components/header/index.twig' %}

    <section>

        <div class="wrapper">

            {% include '../components/breadcrumbs/index.twig' %}

        </div>

    </section>

 {% include '../components/orderPlacement/index.twig' %}
    
    <div class="orderPlacement__slider">
    {% include '../components/slider/main/proposes/index.twig' %}
</div>

 {% include '../components/footer/index.twig' %}