<div class="slider-common {% if sliderCommon.customClass %}{{ sliderCommon.customClass }}{% endif %}">

    {% for item in sliderCommon.customItems|merge(sliderCommon.customItems) %}
        <div class="slider-common__item {% if sliderCommon.customClass %}{{ sliderCommon.customClass }}__item{% endif %}">

            <div class="slider-common__image {% if sliderCommon.customClass %}{{ sliderCommon.customClass }}__image{% endif %}"><img src="./img/slider-common.png" alt=""></div>

            <div class="slider-common__text {% if sliderCommon.customClass %}{{ sliderCommon.customClass }}__text{% endif %}">


                <div class="slider-team__name">John Dou</div>
                <div class="slider-team__profession">Sales manager</div>
                <p><em>- Real  Estate  advertising  department  brings  together  a  range  of  exclusive  offers, collected  by  us  from  networking.</em></p>

            </div>

        </div>
    {% endfor %}

</div>