<section class="subscription" style="background-image:url('./img/bg/subscription-bg.png')">

    <div class="wrapper">

        <div>
            <h3 class="h3 subscription__title">subscription to the list</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>

        <form class="subscription__form">

            <div class="input-row">
                <input type="email" name="" value="" placeholder="Email Address">
                <button class="button-green subscription__button">Send review</button>
            </div>

        </form>

    </div>

</section>