<div class="tabItem__headerText">
    <h2>Календарь</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>

<div class="tabItem__calendar">

    <div id="calendarMain1" class="calendar__Main">

        <input type="text" id="datepicker2" />

    </div>

    <div class="calendar__News">

        <div class="calendar__top">

            <p id="ChangeDataAndDay" data-date-number="" data-day-string="">
            </p>
            <span id="dayForDay" data-day-for-day=""></span>

        </div>

    </div>

</div>