@media screen and (max-width: 575px) {
    .filter {
        left: 0;
        bottom: -13vh;
        width: 100vw;
        height: auto;
    }
    .filter__block1 {
        flex-flow: column wrap;
    }
    .filter__form {
        flex-flow: column wrap;
    }
    .city__block {
        margin-bottom: 24px;
    }
    .applySubmit {
        margin-bottom: 24px;
    }
    .europeMain {
        margin-top: 50vh;
    }
    .mob-width {
        width: 100%;
        margin-bottom: 18px;
    }
    .mob-flex {
        flex-flow: column wrap;
    }
    .news--sorted {
        width: 100%;
        justify-content: flex-end;
    }
    .news--priceRange {
        width: 100%;
    }
    .newsContent__aside {
        flex-basis: 100%;
    }
    .europeMain__paginationHome {
        width: 83vw;
    }
    .seePosts__block {
        width: 68%;
        justify-content: flex-start;
    }
    .seePosts__text {
        margin-right: 24px;
    }
    .aside__topBlock {
        width: 100%;
    }
    .topBlock__overflow {
        width: 90vw;
        margin: auto;
    }
    .cart--middleText:before {
        display: none;
    }
    .cart__text {
        flex-basis: 95%;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .filter {
        left: 0;
        bottom: -13vh;
        width: 100vw;
        height: auto;
    }
    .filter__block1 {
        flex-flow: column wrap;
    }
    .filter__form {
        flex-flow: column wrap;
    }
    .city__block {
        margin-bottom: 24px;
    }
    .applySubmit {
        margin-bottom: 24px;
    }
    .europeMain {
        margin-top: 50vh;
    }
    .mob-width {
        width: 100%;
        margin-bottom: 18px;
    }
    .mob-flex {
        flex-flow: column wrap;
    }
    .news--sorted {
        width: 100%;
        justify-content: flex-end;
    }
    .news--priceRange {
        width: 100%;
    }
    .newsContent__aside {
        flex-basis: 100%;
    }
    .europeMain__paginationHome {
        width: 83vw;
    }
    .seePosts__block {
        width: 68%;
        justify-content: flex-start;
    }
    .seePosts__text {
        margin-right: 24px;
    }
    .aside__topBlock {
        width: 100%;
    }
    .topBlock__overflow {
        width: 90vw;
        margin: auto;
    }
    .cart--middleText:before {
        display: none;
    }
    .cart__text {
        flex-basis: 95%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .filter {
        left: 0;
        bottom: -13vh;
        width: 100vw;
        height: auto;
    }
    .filter__block1 {
        flex-flow: column wrap;
    }
    .filter__form {
        flex-flow: column wrap;
    }
    .city__block {
        margin-bottom: 24px;
    }
    .applySubmit {
        margin-bottom: 24px;
    }
    .europeMain {
        margin-top: 50vh;
    }
    .mob-width {
        width: 100%;
        margin-bottom: 18px;
    }
    .mob-flex {
        flex-flow: column wrap;
    }
    .news--sorted {
        width: 100%;
        justify-content: flex-end;
    }
    .news--priceRange {
        width: 100%;
    }
    .newsContent__aside {
        flex-basis: 100%;
    }
    .europeMain__paginationHome {
        width: 83vw;
    }
    .seePosts__block {
        width: 68%;
        justify-content: flex-start;
    }
    .seePosts__text {
        margin-right: 24px;
    }
    .aside__topBlock {
        width: 100%;
    }
    .topBlock__overflow {
        width: 90vw;
        margin: auto;
    }
    .cart--middleText:before {
        display: none;
    }
    .cart__text {
        flex-basis: 95%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .filter {
        left: 0;
        bottom: -13vh;
        width: 100vw;
        height: auto;
    }
    .filter__block1 {
        flex-flow: column wrap;
    }
    .filter__form {
        flex-flow: column wrap;
    }
    .city__block {
        margin-bottom: 24px;
    }
    .applySubmit {
        margin-bottom: 24px;
    }
    .europeMain {
        margin-top: 50vh;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .filter {
        left: 0;
        bottom: -13vh;
        width: 100vw;
        height: auto;
    }
    .filter__block1 {
        flex-flow: column wrap;
    }
    .filter__form {
        flex-flow: column wrap;
    }
    .city__block {
        margin-bottom: 24px;
    }
    .applySubmit {
        margin-bottom: 24px;
    }
    .europeMain {
        margin-top: 50vh;
    }
    .mob-width {
        width: 100%;
        margin-bottom: 18px;
    }
    .mob-flex {
        flex-flow: column wrap;
    }
    .news--sorted {
        width: 100%;
        justify-content: flex-end;
    }
    .news--priceRange {
        width: 100%;
    }
}