<div>

    <form>

        <div class="search__row">

            <input type="search" placeholder="Введите что хотите найти..." />

            <button type="submit" class="search-button">
                <i>
                    <svg viewBox="0 0 451 451">
                        <use xlink:href="#search" />
                    </svg>
                </i>

            </button>

        </div>

    </form>

    <span class="popup__close"></span>

</div>