<div>

    <div class="popup-header">

        <span>notification</span>

    </div>

    <div class="popup-fieldset">

        <p><a href="#" data-action="popup" data-scope="ajax.html #signUp">Register</a> or <a href="#" data-action="popup" data-scope="ajax.html #signIn">log in</a> to view your favorites</p>
        <br />
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    </div>

    <div class="popup-footer">
        <div class="popup-footer__button">

            {% set buttons = [
                { buttonClass: "white", scope: "signUp", buttonName: "Sign up" },
                { buttonClass: "green", scope: "signIn", buttonName: "Sign in" }
            ] %}

            {% for item in buttons %}
                <button type="button" class="button-{{ item.buttonClass }}" data-action="popup" data-scope="ajax.html #{{ item.scope }}">{{ item.buttonName }}</button>
            {% endfor %}

        </div>
    </div>

    <span class="popup__close"></span>

</div>