<main class="officeMain">

<div class="officeForBg">

    <h1 class="officeMain__h1">Личный кабинет</h1>

    <ul class="officeMain__list">
        <li class="officeMain__items">
            <h2>Личный кабинет</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
            </p>
            <br>
            <p>Ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc
            </p>
        </li>
        <li class="officeMain__items">

            <a href="officeTabs.html" class="officeMain__link" data-index="0">
                <img src="./img/icon/management.png" alt="">
                <h2>Личные данные</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                </p>
                <div class="officeMain__button">
                <svg viewBox="0 0 31.49 31.49"><use xlink:href="#arrow-right"/></svg>
                </div>
            </a>
        </li>
        <li class="officeMain__items">

            <a href="officeTabs.html" class="officeMain__link" data-index="1">
                <img src="./img/icon/reserve.png" alt="Резервации">

                <h2>Резервации</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                </p>
                <div class="officeMain__button">
                <svg viewBox="0 0 31.49 31.49"><use xlink:href="#arrow-right"/></svg>
                </div>
            </a>
        </li>
        <li class="officeMain__items">

            <a href="officeTabs.html" class="officeMain__link" data-index="2">
                <img src="./img/icon/package.png" alt="Брони">

                <h2>Брони</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                </p>
                <div class="officeMain__button">
                <svg viewBox="0 0 31.49 31.49"><use xlink:href="#arrow-right"/></svg>
                </div>
            </a>
        </li>
        <li class="officeMain__items">

            <a href="officeTabs.html" class="officeMain__link" data-index="3">
                <img src="./img/icon/favorite.png" alt="Избранное">

                <h2>Избранное</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                </p>
                <div class="officeMain__button">
                <svg viewBox="0 0 31.49 31.49"><use xlink:href="#arrow-right"/></svg>
                </div>
            </a>
        </li>
        <li class="officeMain__items">

            <a href="officeTabs.html" class="officeMain__link" data-index="4">
                <img src="./img/icon/map.png" alt="Карта">

                <h2>Карта</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                </p>
                <div class="officeMain__button">
                <svg viewBox="0 0 31.49 31.49"><use xlink:href="#arrow-right"/></svg>
                </div>
            </a>
        </li>
        <li class="officeMain__items">

            <a href="officeTabs.html" class="officeMain__link" data-index="5">
                <img src="./img/icon/calendar.png" alt="Календарь">

                <h2>Календарь</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                </p>
                <div class="officeMain__button">
                <svg viewBox="0 0 31.49 31.49"><use xlink:href="#arrow-right"/></svg>
                </div>
            </a>
        </li>
        <li class="officeMain__items">

            <a href="officeTabs.html" class="officeMain__link" data-index="6">
                <img src="./img/icon/progress.png" alt="Достижения и бонусы">

                <h2>Достижения и бонусы</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                </p>
                <div class="officeMain__button">
                <svg viewBox="0 0 31.49 31.49"><use xlink:href="#arrow-right"/></svg>
                </div>
            </a>
        </li>

    </ul>
</div>
</main>