.proposes {
  &__item {
    width: 31.9%;
    margin:0 2% 29px 0;
    box-shadow: 0 17px 33px rgba(32,94,171,.05);
    display: flex!important;
    flex-direction: column;
    height: 100%;

    &:hover {
      .proposes__value:after {
        opacity: 1;
        visibility: visible;
      }
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &__image {
    height: 320px;
    display: inline-block;
    position: relative;

    & >div:not(.flag) {
      width: 100%;
      height: 100%;
      border-radius: 4px;
      overflow: hidden;
      border: 1px solid transparent;
      position: relative;
    }

    img {
      max-width: 100%;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &-value {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    border-radius: 3px;
    transform: translate(-50%,-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 8px 11px;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: block;
      opacity: 0;
      visibility: hidden;
      z-index: 0;
      background-color: rgba(36,36,47,.28);
      transition: opacity .15s ease;
    }

    &__icon {
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      color: #fff;
      position: relative;
      z-index: 1;

      & + .proposes-value__icon {
        margin-top: 10px;
      }

      span {
        display: inline-block;
        vertical-align: middle;
        fill: #fff;
        width: 16px;
        height: 16px;
        margin-right: 15px;
      }
    }

    &__mark {
      transition:color 250ms ease;
      span { transition: fill 250ms ease; }

      &:hover {
        & {
          color: #96df21;
        }
        span {
          fill: #96df21;
        }
      }
    }
  }

  &__text-wrapper {
    background-color: #fff;
    border: 1px solid #e9f0f5;
    border-radius: 4px;
    padding: 0 25px 0 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__text {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 96px 5px 0;
    margin: 27px 0 0;
    flex-grow: 1;


    @media only screen and (max-width: 1199px) {
      padding: 5px 0;
    }

    a {
      display: inline-block;
      color: #393939;
      font-size: 2rem;
      font-weight: 500;
      line-height: 2.4rem;
      transition: color 250ms ease;

      @media only screen and (max-width: 1199px) {
        font-size: 1.8rem;
      }

      &:hover {
        color: #0d9e51;
      }
    }

    .rating {
      position: absolute;
      top: 8px;
      right: 0;
      @media only screen and (max-width: 1199px) {
        display: none;
      }
    }
  }

  &-price {
    display: flex;

    @media only screen and (max-width: 1199px) {
      flex-wrap: wrap;
      align-items: center;
    }

    & >.rating {
      display: none;
      @media only screen and (max-width: 1199px) {
        display: inline-block;
      }
    }

    p {
      color: #0d9e51;
      font-size: 12px;
      font-weight: 500;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 2.4px;

      span {
        display: inline-block;

        &:before {
          content: "";
          display: inline-block;
          vertical-align: middle;
          height: 12px;
          width: 1px;
          background-color: #0d9e51;
          margin: 0 14px 0 0;
        }
      }
    }

    &__name {
      @media only screen and (max-width: 1199px) {
        width: 100%;
        flex-grow: 1;
      }
    }

    &__cost {
      text-align: right;
      margin-left: auto;
    }
  }

  &__desc {
    color: #7b7b7b;
    line-height: 26px;
    max-height: 77px;
    overflow: hidden;
    margin: 22px 0 24px;
  }
}