@media screen and (max-width: 575px) {
    .europeImage {
        width: 93vw;
    }
    .pricing__bigText {
        margin-bottom: -40px;
        margin-top: -20px;
    }
    .pricingMain {
        margin-top: 0;
        width: 100vw;
    }
    .lineLeft--absolute {
        display: none;
    }
    .pricing__h2 {
        font-size: 44px;
        text-align: left;
        padding-left: 5px;
    }
    .middleBlock__left {
        width: 90vw;
        padding-left: 5px;
    }
    .middleBlock__right {
        width: 100vw;
    }
    .middleBlock__left--block1,
    .middleBlock__left--block2,
    .middleBlock__left--block3 {
        justify-content: center;
    }
    .middleBlock__left--header {
        width: 90%;
        text-align: left;
    }
    .pricing__headerBlock--belowText {
        width: 90%;
        text-align: left;
    }
    .pricing__h2:before {
        left: 38%;
    }
    .trafic__pricing {
        width: 100%;
    }
    .trafic__carts {
        width: 95%;
        margin-bottom: 24px;
    }
    .threeText__carts:before {
        left: -11vw;
    }
    .threeText__carts:after {
        right: -11vw;
    }
    .remained__image {
        width: auto;
        height: 58vh;
    }
    .remainedText__header {
        font-size: 52px;
        line-height: 1;
    }
    .remainedText__middle {
        width: 85%;
    }
    .lowBlock__left--image {
        width: 100vw;
        margin-left: 0;
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .europeImage {
        width: 93vw;
    }
    .pricing__bigText {
        margin-bottom: -40px;
        margin-top: -20px;
    }
    .pricingMain {
        margin-top: 0;
        width: 100vw;
    }
    .lineLeft--absolute {
        display: none;
    }
    .pricing__h2 {
        font-size: 44px;
        text-align: left;
        padding-left: 5px;
    }
    .middleBlock__left {
        width: 90vw;
        padding-left: 5px;
    }
    .middleBlock__right {
        width: 100vw;
    }
    .middleBlock__left--block1,
    .middleBlock__left--block2,
    .middleBlock__left--block3 {
        justify-content: center;
    }
    .middleBlock__left--header {
        width: 90%;
        text-align: left;
    }
    .pricing__headerBlock--belowText {
        width: 90%;
        text-align: left;
    }
    .pricing__h2:before {
        left: 38%;
    }
    .trafic__pricing {
        width: 100%;
    }
    .trafic__carts {
        width: 49%;
        margin-bottom: 24px;
    }
    .threeText__carts:before {
        left: -11vw;
    }
    .threeText__carts:after {
        right: -11vw;
    }
    .remained__image {
        width: auto;
        height: 40vh;
    }
    .remainedText__header {
        font-size: 52px;
        line-height: 1;
    }
    .remainedText__middle {
        width: 85%;
    }
    .lowBlock__left--image {
        width: 100vw;
        margin-left: 0;
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .europeImage {
        width: 93vw;
    }
    .pricing__bigText {
        margin-bottom: -40px;
        margin-top: -20px;
    }
    .pricingMain {
        margin-top: 0;
        width: 100vw;
    }
    .lineLeft--absolute {
        display: none;
    }
    .pricing__h2 {
        font-size: 44px;
        text-align: left;
        padding-left: 5px;
    }
    .middleBlock__left {
        width: 90vw;
        padding-left: 5px;
    }
    .middleBlock__right {
        width: 100vw;
    }
    .middleBlock__left--block1,
    .middleBlock__left--block2,
    .middleBlock__left--block3 {
        justify-content: center;
    }
    .middleBlock__left--header {
        width: 90%;
        text-align: left;
    }
    .pricing__headerBlock--belowText {
        width: 90%;
        text-align: left;
    }
    .pricing__h2:before {
        left: 38%;
    }
    .trafic__pricing {
        width: 100%;
    }
    .trafic__carts {
        width: 49%;
        margin-bottom: 24px;
    }
    .threeText__carts:before {
        left: -11vw;
    }
    .threeText__carts:after {
        right: -11vw;
    }
    .remained__image {
        width: auto;
        height: 35vh;
    }
    .remainedText__header {
        font-size: 52px;
        line-height: 1;
    }
    .remainedText__middle {
        width: 85%;
    }
    .lowBlock__left--image {
        width: 100vw;
        margin-left: 0;
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .europeImage {
        width: 93vw;
    }
    .pricing__bigText {
        margin-bottom: -40px;
        margin-top: -20px;
    }
    .pricingMain {
        margin-top: 0;
        width: 100vw;
    }
    .lineLeft--absolute {
        display: none;
    }
    .pricing__h2 {
        font-size: 44px;
        text-align: left;
        padding-left: 5px;
    }
    .middleBlock__left {
        width: 90vw;
        padding-left: 5px;
    }
    .middleBlock__right {
        width: 100vw;
    }
    .middleBlock__left--block1,
    .middleBlock__left--block2,
    .middleBlock__left--block3 {
        justify-content: center;
    }
    .middleBlock__left--header {
        width: 100%;
        text-align: center;
    }
    .pricing__headerBlock--belowText {
        width: 90%;
        text-align: left;
    }
    .pricing__h2:before {
        left: 38%;
    }
    .trafic__pricing {
        width: 100%;
    }
    .trafic__carts {
        width: 32%;
        margin-bottom: 24px;
    }
    .threeText__carts:before {
        left: -6vw;
    }
    .threeText__carts:after {
        right: -6vw;
    }
    .remained__image {
        width: auto;
        height: 35vh;
    }
    .remainedText__header {
        font-size: 52px;
        line-height: 1;
    }
    .remainedText__middle {
        width: 85%;
    }
    .lowBlock__left--image {
        width: auto;
        margin-left: 0;
        margin-bottom: 24px;
    }
    .middleBlock__left--textLow {
        width: 68%;
    }
    .pricing--logo {
        justify-content: flex-start;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .trafic__carts {
        width: 32%;
        margin-bottom: 24px;
    }
    .lineLeft--absolute {
        display: none;
    }
    .remained__image {
        height: 36vh;
    }
    .lowBlock__left--image {
        margin-left: 2em;
    }
    .pricing__belowText {
        width: 70%;
    }
    .pricing__bigText {
        margin-bottom: 20px;
        padding-bottom: 30px;
    }
}