<div class="section-catalog__item">
    <a href="" class="section-catalog__image">
        <div>
            <img src="./img/{{ item.imageName }}.png" alt="{{ item.imageName }}">
        </div>
        <button type="button" class="favorite__ui"><span><svg viewBox="0 0 512 512"><use xlink:href="#favorite" /></svg></span></button>
        <button type="button" class="mark__ui"><span><svg viewBox="0 0 491.582 491.582"><use xlink:href="#mark2" /></svg></span></button>
    </a>
    <div class="section-catalog__text-wrapper">
        <div class="section-catalog__text">
            <a href="">{{ item.text }}</a>

            {% include '../rating/index.twig' %}

        </div>
    </div>
</div>