<div>

    <div class="popup-header">

        <span>notification</span>

    </div>

    <div class="popup-fieldset">

        <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <br />
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <button type="button" class="popup__button button-green popup__ok">ok</button>

    </div>

    <span class="popup__close"></span>

</div>